$mainColorTitle   : #7492ec;
$mainColorMenu    : #99aade;
$mainBgBtnMenu    : #4c77eb;
$mainColorText    : #8ea2dc;
$mainColorIcon    : #7492ec;
$mainBgColorButton: #7492ec;

$bg-social-network-fb: #365493;
$bg-social-network-tw: #33ccff;
$bg-social-network-g : #d44132;
$bg-social-network-pi: #cb2027;